/*.pig-picker {
  width: 64px;
  height: 64px;
}*/

h3 {
  text-align: center;
}
/*
.game {
  margin: 0 auto;
}*/


#roll-btn {

}

#pass-btn {

}

.highlighted {
  background-color: pink;
}

/*.player-img {
  width:
}*/
