body {
  background: #DE6C83;
  font-family: "Montserrat";
  padding-top: 70px;
}

.marquee {
  text-align: center;
  font-family: "Bangers";
  border-radius: 1px;
  border-style: dotted;
  border-color: #D7BEA8;
}

.game {
  display: none;
}

.well {
  /*background-color: #FFF7F8;*/
  background-image: url(../img/bacon-texture.png);
  opacity: 0.8;
}

.dropshadow {
  height: auto;
  -webkit-box-shadow: 20px 20px 42px -4px rgba(116,66,83,1);
  -moz-box-shadow: 20px 20px 42px -4px rgba(116,66,83,1);
  box-shadow: 20px 20px 42px -4px rgba(116,66,83,1);
}

.dice-img {
  width: 100px;
  height: 100px;
}

.pig-img {
  animation-iteration-count: 2;
  width: 150px;
  height: 150px;
}

#current-score {
  text-shadow: 2px 2px 2px #ffffff;
}

#roll-btn {

}

#pass-btn {

}

.highlighted {
  background-color: pink;
}

#dice {
  padding-bottom: 25px;
}


.navbar {
    background: linear-gradient(to right, #D7BEA8, #DE6C83);
    text-shadow: 2px 2px 2px #ffffff;
    border-color: transparent;
    border-width: 0px;
}

.navbar-brand {
    padding: 5px 10px 5px 10px;
    font-family: "Bangers";
    font-size: 50px;

}

#pig-logo {
    width: 40px;
    height: 40px;
    display: inline;
}
